.table-group {
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;

  & > :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  & > :last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .table-optional {
    align-items: center;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    border-top: 1px solid $borderColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 25px;
  }

  .table-filtering {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

.table-wrap {
  border: 1px solid $borderColor;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 10px 10px 0 $background;
  display: block;
  margin-bottom: 10px;
  overflow-x: auto;
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;

    tr:nth-child(even) {background-color: $lightBg}

    th {
      border-bottom: 1px solid $borderColor;
      color: $light;
      font-size: 12px;
      font-weight: 500;
      padding: 18px 25px;
      position: relative;
      text-align: left;
      text-transform: uppercase;
      white-space: nowrap;

      &.toggle-sort {cursor: pointer}

      &.toggle-sort.active {color: $secondary; font-weight: 700}

      [data-sort] {
        display: inline-block;
        margin-left: 4px;

        &:before, &:after {
          border-style: solid;
          content: "";
          display: block;
          height: 0;
          width: 0;
        }

        &:before {
          border-width: 0 3.5px 3.5px 3.5px;
          border-color: transparent transparent $light transparent;
          margin-bottom: 2px;
        }

        &:after {
          border-width: 3.5px 3.5px 0 3.5px;
          border-color: $light transparent transparent transparent;
        }
      }
    }

    td {padding: 13px 25px;vertical-align: middle}

    a {color: $primary; text-decoration: none}

    tr:hover a {color: $blue}
  }
}

.course-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;

  .course-card {
    background-color: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 20px 10px;
    max-width: calc(20% - 20px);
    min-height: 100%;
    outline: 2px solid $borderColor;
    overflow: hidden;
    position: relative;
    width: 100%;

    .course-status {
      align-items: center;
      background-color: $green-light;
      border-radius: 15px;
      color: #36b368;
      display: flex;
      font-size: 10px;
      font-weight: 500;
      left: 16px;
      margin-right: 25px;
      padding: 6px 8px;
      position: absolute;
      text-transform: uppercase;
      top: 16px;
      z-index: 1;

      .icon {background-color: $secondary}
      .icon.active {background-color: $green}

      span {margin-left: 5px}
    }

    .course-card-drag {
      cursor: grab;
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 1;

      &:active {cursor: grabbing}

      i {background-color: $secondary}
    }

    .course-card-image {
      background-color: $light;
      background-position: 50%;
      background-size: cover;
      border-radius: 6px 6px 0 0;
      margin-bottom: 17px;
      padding-bottom: 100%;
      position: relative;
      user-select: none;
      z-index: 0;

      img {
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }

      svg {fill: $light}
    }

    .course-card-text {
      color: $secondary;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 16px;
      padding: 0 16px;
    }

    .course-card-name {margin-bottom: 15px}

    .course-card-controls {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: auto;
      padding: 0 16px 16px;
    }
  }
}