.icon {
  display: inline-block;
  mask-position: 50%;
  mask-repeat: no-repeat;
}

.save-icon {
  height: 22px;
  mask-image: url("/images/icons/save.svg");
  width: 22px;
}

.user-add-icon {
  background-color: $secondary;
  height: 22px;
  mask-image: url("/images/icons/user-add.svg");
  width: 22px;
}