.language-files-wrap {
  align-items: stretch;
  border-top: 1px solid $borderColor;
  display: flex;
  justify-content: flex-start;

  .language-files-list-wrap, .table-group {padding: 20px}

  .translations-table {
    width: 80%;

    thead th:first-child {width: 30%}

    .form-input, .form-group {margin: 0}
  }

  .language-files-list-wrap {
    border-right: 1px solid $borderColor;
    list-style: none;
    width: 20%;

    li {
      color: $secondary;
      cursor: pointer;
      font-size: 14px;
      padding: 6px 10px 4px;

      &.active {
        background-color: $borderColor;
        color: $blue;
        font-weight: 700;
      }
    }
  }

  .language-files-caption {
    padding: 20px 0;
  }
}