.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 10px 0;

  ul {
    display: inline-block;

    li {
      display: inline-block;
      margin-left: 5px;
    }

    a {
      color: $light;
      display: block;
      padding: 4px;
      font-size: 18px;
      text-decoration: none;
    }

    li.active a {
      color: $blue;
      font-weight: 500;
    }
  }
}