.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  left: 0;
  overflow-y: auto;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: 62px;
  width: 80px;
  z-index: 100;

  .side-menu-bottom {justify-content: flex-end}

  .side-menu-top, .side-menu-bottom {
    display: flex;
    flex-direction: column;

    svg {
      fill: $secondary;
      margin-bottom: 8px;
    }

    li {margin-bottom: 17px}

    li.active svg {fill: $blue}

    li.active a, a:hover {
      border-left: 4px solid $blue;
      color: $blue;
      font-weight: 500;
    }

    a {
      align-items: center;
      color: $menuColor;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      max-width: 100%;
      overflow: hidden;
      padding: 8px 0;
      position: relative;
      text-decoration: none;
      transition: color .1s ease,border .1s ease;
    }
  }

  .close {
    background-color: $primary;
    cursor: pointer;
    display: none;
    height: 36px;
    mask-image: url("/images/icons/close.svg");
    mask-position: 50%;
    mask-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
  }
}

@media (max-width: 480px) {
  .side-menu {
    background-color: white;
    display: none;
    justify-content: flex-start;
    width: 100%;

    &.active {display: block}

    .side-menu-top, .side-menu-bottom {
      a {
        flex-direction: row;
        font-size: 14px;
        padding: 8px 10px 8px 40px;

        > i {width: 24px; height: 24px}

        > span {margin-left: 15px}
      }
    }

    .close {display: block}
  }
}