.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  left: 0;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  top: 62px;
  width: 80px;
  z-index: 100;

  .side-menu-bottom {justify-content: flex-end}

  .side-menu-top, .side-menu-bottom {
    display: flex;
    flex-direction: column;

    svg {
      fill: $secondary;
      margin-bottom: 8px;
    }

    a {
      align-items: center;
      color: $menuColor;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      max-width: 100%;
      overflow: hidden;
      padding: 8px 0;
      position: relative;
      text-decoration: none;
      transition: color .1s ease,border .1s ease;

      &:hover {color: $blue}
    }

    > li:not(.user-link) {
      margin-bottom: 17px;
      position: relative;

      &.active a, a:hover {
        border-left: 4px solid $blue;
        font-weight: 500;
      }
    }

    li.active svg {fill: $blue}

    li.user-link {
      padding: 8px 0;
      position: relative;
      overflow: visible;

      ul {
        background-color: white;
        border: 1px solid $borderColor;
        border-radius: 8px;
        display: none;
        left: 80px;
        padding-bottom: 15px;
        position: absolute;
        top: -120px;

        li a {
          align-items: flex-start;
          font-size: 12px;
          padding: 4px 0 4px 15px;
        }

        .user-link-info-wrap {
          align-items: flex-start;
          border-bottom: 1px solid $secondary;
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          padding: 15px;
        }

        .user-link-info {
          padding: 5px;
          text-align: left;
          margin-left: 10px;

          span {line-height: 20px}
        }

        .user-link-info-name {color: $blue; font-weight: 500}
        .user-link-info-email {color: $secondary; font-size: 12px}
      }

      &:hover ul {display: block}
    }
  }

  .close {
    background-color: $primary;
    cursor: pointer;
    display: none;
    height: 36px;
    mask-image: url("/images/icons/close.svg");
    mask-position: 50%;
    mask-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 36px;
  }
}

@media (max-width: 480px) {
  .side-menu {
    background-color: white;
    display: none;
    justify-content: flex-start;
    width: 100%;

    &.active {display: block}

    .side-menu-top, .side-menu-bottom {
      a {
        flex-direction: row;
        font-size: 14px;
        padding: 8px 10px 8px 40px;

        > i {width: 24px; height: 24px}

        > span {margin-left: 15px}
      }
    }

    .close {display: block}
  }
}