$lightBg: #f7f8fd;
$background: #f4f6fc;
$borderColor: #d6e0ff;
$light: #c5cbdd;
$menuColor: #aca7bf;
$secondary: #909bbf;
$primary: #00145e;

$red: #ff2947;
$red-border: #c03546;
$orange: #f0a13f;
$orange-border: #ef9400;
$green: #36B368;
$green-border: #0b8457;
$blue: #005aff;
$blue-border: #3d6cb9;