@import "../font", "vars", "icons", "collection-table.scss", "pagination", "side-menu", "top-menu";

#app {min-height: 92vh}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid $borderColor;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 62px;
  padding: 6px 23px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2000;

  a.logo {
    background-image: url("/images/logo-dashboard.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 220px;
  }
}

.content-wrap {margin-top: 62px}

.content {
  background-color: $background;
  margin-left: 80px;
  width: calc(100% - 80px);
}

.page-content-wrap {padding: 20px}

@media (max-width: 600px) {
  .header a.logo {background-image: url("/images/logo-dashboard-mobile.png")}

  .table-group .search-form {
    input {
      font-size: 14px;
      height: 36px;
      line-height: 34px;
      padding: 0 11px;
    }
    button {
      height: 36px;
      width: 36px;
    }
  }
}