@import "../font", "vars", "icons", "collection-table.scss", "forms", "notifications", "pagination", "popup", "side-menu", "top-menu";

#app {min-height: 92vh}

.cut-form {max-width: 75%}

.col-1-2 {width: calc(50% - 10px)}
.col-1-3 {width: calc(33% - 10px)}
.col-2-3 {width: calc(66% - 10px)}

.header {
  align-items: center;
  background: white;
  border-bottom: 1px solid $borderColor;
  display: flex;
  justify-content: space-between;
  left: 0;
  min-height: 62px;
  padding: 6px 23px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  a.logo {
    background-image: url("/images/logo-dashboard.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    width: 220px;
  }

  .header-optionals {
    a, button {margin-left: 10px}
  }
}

.content-wrap {margin-top: 62px}

.content {
  background-color: $background;
  margin-left: 80px;
  min-height: 93vh;
  width: calc(100% - 80px);
}

.page-content-wrap {padding: 20px}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 15px 20px 0 20px;
  position: relative;

  .card-title, .card-title-left {
    align-items: center;
    color: $primary;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 20px;
    position: relative;
  }

  .card-title-left {justify-content: flex-start}

  .card-title-link {
    color: $blue;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    
    .icon {
      margin-right: 8px;
    }
  }

  .card-text {
    margin-top: 20px;

    > * {
      font-size: 14px;
      line-height: 20px;
    }

    p {padding: 12px 0}

    a {color: $blue}
  }
}

.shift-right {
  display: flex;
  justify-content: flex-end;

  .btn {margin-left: 10px}
}

.preloader {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;

  .preloader-spinner {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    img {
      object-fit: contain;
      height: 80px;
      width: 80px;
    }
  }
}

a.remove {
  background-color: $secondary;
  display: inline-block;
  height: 14px;
  mask-image: url("/images/icons/trash.svg");
  mask-position: 50%;
  mask-repeat: no-repeat;
  padding: 10px 20px;
  width: 16px;

  &:hover {background-color: $red}
}

.avatar-wrap {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  height: 50px;
  margin: 0 auto;
  text-decoration: none;
  user-select: none;
  width: 50px;
}

@media (max-width: 1240px) {
  .col-1-3 {width: calc(50% - 10px)}
}

@media (max-width: 1024px) {
  .col-1-2, .col-1-3, .col-2-3 {width: calc(100% - 10px)}
  .cut-form {max-width: 100%}
}

@media (max-width: 768px) {
  .header a.logo {background-image: url("/images/logo-dashboard-mobile.png")}

  .table-group .search-form {
    input {
      font-size: 12px;
      height: 36px;
      line-height: 34px;
      padding: 0 11px;
    }

    button {
      height: 36px;
      width: 36px;
    }
  }

  .table-wrap table {
    th {font-size: 10px; padding: 9px 12px}
    td {font-size: 12px; padding: 12px}
  }

  .form-group .form-image-upload {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .content {margin-left: 0; width: 100%}
  .page-content-wrap {padding: 5px}
}