.bulk-selector {
  margin: 30px 0;

  &__counters {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    > span {
      color: $secondary;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      padding: 0 15px;
    }

    .btn {height: 31px}
  }

  &__selector {margin-top: 15px; max-width: 270px}
}