@import "vars";

.circle-progress {
  height: 32px;
  width: 32px;
  position: absolute;
  bottom: 1px;
  right: 5px;
  background-color: $menuText;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.input-shift {right: 25px}

  .inner-circle {
    background-color: white;
    border-radius: 50%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 26px;

    > span {font-size: 12px}
  }
}

@media screen and (max-width: 720px) {
  .circle-progress.input-shift {right: 5px}
}