.custom-selector {
  position: relative;

  &--input {
    border: $b-type;
    border-radius: $b-rad-big;
    background: white url("../../images/icons/angle-down.svg") no-repeat 99% center / 24px;
    cursor: pointer;
    color: $text;
    padding: 12px 20px;
    outline: none;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
  }

  &--dropdown {
    border-radius: $b-rad-default;
    border: $b-type;
    background-color: white;
    box-shadow: 0 6px 12px 0 rgba(144, 155, 191, 0.20);
    position: absolute;
    overflow-y: hidden;
    width: 100%;
    z-index: 10;

    ul {
      padding: 25px 0;
      max-height: 250px;
      overflow-y: auto;
    }

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      color: $secondary;
      padding: 5px 15px;

      &.disabled {
        color: $text;
        font-weight: 500;
        cursor: default;
      }

      .icon {background-color: $text}

      span {font-size: 14px; line-height: 18px}

      &:hover:not(.disabled) {
        color: $link;

        .icon {background-color: $link}
      }
    }
  }
}