.custom-selector-wrap {
  position: relative;

  .custom-selector-input {
    border: 1px solid $border;
    border-radius: 30px;
    background: white url("../../images/icons/angle-down.svg") no-repeat 99% center / 24px;
    cursor: pointer;
    color: $text;
    padding: 12px 20px;
    outline: none;
    font-size: 16px;
    line-height: 18px;
    width: calc(100% - 20px);
  }

  .custom-selector-dropdown-list-wrap {
    border: 1px solid black;
    position: absolute;
    background-color: white;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    z-index: 1;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 4px 10px;

      .icon {background-color: $text}

      span {font-size: 14px; line-height: 18px}

      &:hover {
        background-color: $link;
        color: white;

        .icon {background-color: white}
      }
    }
  }
}