@import "vars";

input, textarea {
  &::placeholder {color: $menuText}
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {display: none; width: 0; height: 0}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display: none}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 12px;
  background: white;
  border: 1px solid $border;
  border-radius: 30px;
  color: $text;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  padding: 10px 16px;
  text-decoration: none;

  .icon {
    background-color: $link;
    height: 20px;
    width: 20px;
  }

  &.blue {
    background-color: $link;
    border-color: $link;
    color: white;

    &[disabled] {background-color: $linkBg; border-color: $linkBg}
  }

  &.blue--inverse {
    border-color: $link;
    color: $link;

    &[disabled] {color: $linkBg; border-color: $linkBg}
  }

  &.danger {
    background-color: $danger;
    border-color: $danger;
    color: white;

    &[disabled] {background-color: $dangerBg; border-color: $dangerBg}
  }
}

.form-input, .form-select, .form-text {
  border: 1px solid $border;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
  line-height: 18px;
}

.form-input {
  color: $text;
  padding: 12px 20px;
}

.form-input.readonly {
  background-color: $bg;
  color: $link;
  user-select: none;
  pointer-events:none;
}

.form-select {
  appearance: none;
  background: white url("../../images/icons/angle-down.svg") no-repeat 99% center / 24px;
  cursor: pointer;
  font-style: normal;
  padding: 12px 14px;
}

.form-text {
  border-radius: 20px;
  resize: vertical;
  padding: 20px;
  min-height: 150px;
  width: 100%;
}

.slider-checkbox-wrap {
  align-items: center;
  display: flex;
  gap: 20px;

  .slider-checkbox-container {
    background-color: $separator;
    border-radius: 12px;
    position: relative;
    height: 24px;
    width: 42px;
    cursor: pointer;

    .slider-checkbox-circle {
      background-color: $secondary;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.checked {
      background-color: $linkBg;

      .slider-checkbox-circle {
        background-color: $link;
        left: auto;
        right: 4px;
      }
    }
  }

  .slider-checkbox-text {
    color: $text;
    font-size: 16px;
    line-height: 18px;
  }

  input {display: none}
}

label {
  position: relative;

  &.caption {
    display: block;
    margin-bottom: 10px;
  }

  &.caption-inline {
    align-items: center;
    display: flex;
    gap: 10px;
  }

  > span {
    color: $secondary;
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin: 5px 0;
  }

  .form-input, .form-select, .form-text {
    margin-top: 5px;
    width: calc(100% - 20px);
  }
}

.form-wrap {
  display: flex;
  align-items: stretch;
}

@media screen and (max-width: 720px) {
  .form-wrap {display: block}
}