.text-align-center-icon {
  mask-image: url("../../images/icons/text-align-center.svg");
}

.text-align-left-icon {
  mask-image: url("../../images/icons/text-align-left.svg");
}

.text-align-right-icon {
  mask-image: url("../../images/icons/text-align-right.svg");
}

.text-bold-icon {
  mask-image: url("../../images/icons/text-bold.svg");
}

.text-italic-icon {
  mask-image: url("../../images/icons/text-italic.svg");
}

.text-underline-icon {
  mask-image: url("../../images/icons/text-underline.svg");
}