.icon {
  display: inline-block;
  mask-position: 50%;
  mask-repeat: no-repeat;
  mask-size: contain;
  height: 16px;
  width: 16px;

  &.mirror {transform: scaleX(-1)}

  &.facebook-icon {
    mask-image: url("../../images/icons/facebook.svg");
  }

  &.instagram-icon {
    mask-image: url("../../images/icons/instagram.svg");
  }

  &.linkedin-icon {
    mask-image: url("../../images/icons/linkedin.svg");
  }

  &.tiktok-icon {
    mask-image: url("../../images/icons/tiktok.svg");
  }

  &.youtube-icon {
    mask-image: url("../../images/icons/youtube.svg");
  }

  &.arrow-icon {
    mask-image: url("../../images/icons/arrow.svg");
  }

  &.book-icon {
    mask-image: url("../../images/icons/book.svg");
  }

  &.book-check-icon {
    mask-image: url("../../images/icons/book-check.svg");
  }

  &.book-cog-icon {
    mask-image: url("../../images/icons/book-cog.svg");
  }

  &.book-info-icon {
    mask-image: url("../../images/icons/book-info.svg");
  }

  &.book-plus-icon {
    mask-image: url("../../images/icons/book-plus.svg");
  }

  &.burger-menu-icon {
    mask-image: url("../../images/icons/burger-menu.svg");
  }

  &.chevron-icon {
    mask-image: url("../../images/icons/chevron.svg");
  }

  &.close-icon {
    mask-image: url("../../images/icons/close.svg");
  }

  &.column-selector-icon {
    mask-image: url("../../images/icons/column-selector.svg");
  }

  &.double-chevron-icon {
    mask-image: url("../../images/icons/double-chevron.svg");
  }

  &.double-hellip-icon {
    mask-image: url("../../images/icons/double-hellip.svg");
  }

  &.edit-icon {
    mask-image: url("../../images/icons/edit.svg");
  }

  &.heart-icon {
    mask-image: url("../../images/icons/heart.svg");
  }

  &.hellip-icon {
    mask-image: url("../../images/icons/hellip.svg");
  }

  &.hellip-double-icon {
    mask-image: url("../../images/icons/hellip-double.svg");
  }

  &.plus-icon {
    mask-image: url("../../images/icons/plus.svg");
  }

  &.search-icon {
    mask-image: url("../../images/icons/search.svg");
  }

  &.trash-icon {
    mask-image: url("../../images/icons/trash.svg");
  }

  &.user-plus-icon {
    mask-image: url("../../images/icons/user-plus.svg");
  }
}