.image-upload-wrap {
  background-color: $bg;
  border: 1px solid $border;
  border-radius: 20px;
  display: block;
  min-height: 360px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;

  .image-preview-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    max-height: 360px;
    justify-content: center;
    padding: 10px;
    width: 100%;

    img {
      max-width: 100%;
      max-height: 340px;
      object-fit: contain;
    }
  }

  .image-placeholder-wrap {
    border-radius: 20px;
    height: 100%;
    padding: 15px;

    .image-placeholder {
      text-align: center;
      padding: 40px;

      img {
        object-fit: contain;
        max-height: 105px;
        max-width: 105px;
      }
    }

    .image-placeholder-text, .image-placeholder-helper {
      color: $text;
      text-align: center;
      line-height: 24px;
    }

    .image-placeholder-text {font-size: 20px; font-weight: 500}

    .image-placeholder-helper {
      padding: 40px 70px;
      text-align: center;
      font-size: 18px;
    }
  }

  .image-upload-controls-wrap {
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    transition: height, 0.3s ease-out;

    .icon {
      background-color: white;
      display: none;
      cursor: pointer;
      height: 32px;
      width: 32px;
    }
  }

  &:hover {
    .image-upload-controls-wrap {height: 100%; transition: height, 0.3s ease-in}

    .image-upload-controls-wrap .icon {display: block}
  }

  input[type="file"] {display: none}
}