ul.notification-list {
  margin-bottom: 20px;

  li {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    &.success {color: $success}

    &.warning {color: $warning}

    &.danger {color: $danger}
  }
}