ul.notification-list {
  padding-left: 10px;
  margin-bottom: 20px;

  li {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    &.success {color: #36b368}

    &.warning {color: #ef9400}

    &.danger {color: #ff2947}
  }
}