.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.default-popup-wrap {
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(29, 33, 91, .2);
  position: relative;
  width: 700px;

  .close-popup {
    cursor: pointer;
    padding: 5px;
    right: 25px;
    top: 25px;
    position: absolute;

    .icon {
      background-color: $secondary;
      height: 24px;
      width: 24px;
    }

    &:hover .icon {background-color: $text}
  }

  .popup-title-wrap, .popup-body-wrap {padding: 25px 30px}

  .popup-title-wrap {
    border-bottom: 1px solid $border;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }

  .popup-text-row {
    color: $link;
    font-size: 16px;
    line-height: 24px;

    &.big-text {font-size: 20px; line-height: 30px}
  }

  .popup-items-list-wrap {
    background-color: $bg;
    border-radius: 20px;
    margin: 10px 0;
    padding: 15px 25px;

    ul {
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: auto;

      li {
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        margin: 5px;

        .item-text {
          font-size: 16px;
          font-weight: 500;
          line-height: 30px;
        }

        .item-remove {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $separator;
          border-radius: 50%;
          height: 20px;
          width: 20px;
        }

        .icon {
          background-color: $link;
          height: 12px;
          width: 12px;
        }
      }
    }
  }

  .popup-confirmation-wrap {
    margin-top: 15px;

    .popup-confirmation-field {
      position: relative;

      .form-input {
        border-color: $danger;
        color: $danger;
        width: 50%;
      }

      .circle-warning {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $danger;
        border-radius: 50%;
        color: $danger;
        position: absolute;
        left: calc(50% - 30px);
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
      }

      .hint-message {
        bottom: -20px;
        color: $danger;
        font-size: 14px;
        left: 5px;
        position: absolute;
      }
    }

    .popup-confirmation-button .btn {
      margin-top: 30px;
      width: 150px;
    }
  }
}

.row-actions-popup {
  display: none;
  background-color: white;
  border: 1px solid $border;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(29, 33, 91, .2);
  min-width: 150px;
  padding: 9px 18px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  &.active {display: block}

  li span, li a {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-decoration: none;
  }

  li {
    margin: 12px 0;

    .icon {background-color: $secondary; height: 14px; width: 14px}

    a, span {color: $secondary}

    &:hover {
      .icon {background-color: $text}

      a, span {color: $text}
    }
  }
}

.category-popup {
  .add-category-wrap {
    .add-category-text {
      color: $text;
      font-size: 16px;
      line-height: 18px;
      margin: 15px 0;
    }

    .add-category-controls {
      display: flex;
      align-content: center;

      .add-category-input {width: 100%}

      .form-input {padding-right: 40px}

      .circle-progress-wrap {right: 30px}

      .btn {margin-top: 5px}
    }
  }

  .sortable-list {margin: 20px 0}

  .popup-text-row {margin-top: 20px}

  .slider-checkbox-wrap .slider-checkbox-text {font-weight: 400}
}

.image-upload-popup {
  .popup-body-wrap {padding-top: 50px}

  .popup-confirmation-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px
  }
}

@media screen and (max-width: 720px) {
  .default-popup-wrap {width: calc(100% - 20px); margin: 0 auto}
}