.sidebar-wrap {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $bg;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  height: 100vh;
  width: 400px;
  scrollbar-width: none;
  overflow: auto;

  .sidebar-caption {
    border-bottom: 1px solid $menuText;
    color: $text;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    padding: 45px 55px 30px 35px;
    text-align: center;
  }

  .sidebar-close {
    position: absolute;
    top: 48px;
    right: 15px;
    cursor: pointer;

    .icon {
      background-color: $text;
      height: 32px;
      width: 32px;
    }
  }

  .sidebar-body {padding: 45px}
}

@media screen and (max-width: 1200px) {
  .sidebar-wrap {top: 65px; height: calc(100vh - 65px)}
}