.status-info-wrap {
  min-width: 135px;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  border-radius: $b-rad-small;
  text-align: center;
  display: inline-block;
  background-color: $separator;
  color: $draft;

  &.danger {
    background-color: $dangerBg;
    color: $danger;
  }

  &.success {
    background-color: $successBg;
    color: $success;
  }

  &.warning {
    background-color: $warningBg;
    color: $warning;
  }
}