.status-tooltip-wrap {
  position: absolute;
  background-color: $draft;
  border-radius: $b-rad-default;
  color: white;
  padding: 20px 35px;
  top: 0;
  transform: translateY(50%);
  left: 415px;
  width: 225px;
  z-index: 3;

  &:before {
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid $draft;
    border-top: 1.5rem solid transparent;
    content: "";
    height: 0;
    left: -0.6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }

  .status-tooltip-row {
    font-size: 14px;
    line-height: 22px;
    margin: 5px 0;

    b {margin-right: 5px; font-weight: 600}

    span {word-wrap: break-word}
  }
}