.top-menu-wrap ul {
  align-items: center;
  display: flex;
  gap: 30px;

  li {
    .icon {
      background-color: $text;
      width: 20px;
      height: 20px;
    }

    span {
      color: $text;
      font-size: 16px;
      line-height: 20px;
    }

    a {
      align-items: center;
      border-bottom: 2px solid transparent;
      display: flex;
      gap: 10px;
      padding: 10px 0;

      &:hover, &.active {border-bottom: 2px solid $link}

      &.active {
        .icon {background-color: $link}

        span {color: $link}
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .top-menu-wrap ul {
    gap: 15px;
    li {
      a {gap: 5px}

      .icon {flex-shrink: 0; }

      span {font-size: 14px}
    }
  }
}

@media screen and (max-width: 720px) {
  .top-menu-wrap ul {
    justify-content: center;
    li {
      a, span {display: block; padding: 0; text-align: center}

      span {font-size: 12px}

      .icon {width: 24px; height: 24px}
    }
  }
}

@media screen and (max-width: 480px) {
  .top-menu-wrap ul {
    gap: 20px;

    li span {display: none}
  }
}