.top-menu-wrap ul {
  align-items: center;
  display: flex;
  gap: 30px;

  li {
    .icon {
      background-color: $text;
      width: 20px;
      height: 20px;
    }

    span {
      color: $text;
      font-size: 16px;
      line-height: 20px;
    }

    a {
      align-items: center;
      border-bottom: 2px solid transparent;
      display: flex;
      gap: 10px;
      padding: 10px 0;

      &:hover, &.active {border-bottom: 2px solid $link}

      &.active {
        .icon {background-color: $link}

        span {color: $link}
      }
    }
  }
}