$bg: #f2f7ff;
$separator: #e6efff;
$border: #d6e0ff;
$menuText: #cbd6e5;
$secondary: #909bbf;
$draft: #858a9d;

$dangerBg: #ffe5e9;
$danger: #ff2947;
$warningBg: #fdf2e0;
$warning: #ef9400;
$successBg: #e5f5e2;
$success: #36b368;
$linkBg: #ccdeff;
$gradient: #5691ff;
$link: #015aff;
$text: #00145e;
$menuEl: #09174a;
$menuBg: #000e42;