@import "../_font-popins.scss", "icons", "menu", "user-avatar";

.site-content-wrap {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;

  nav {
    background-color: #000e42;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    height: 100vh;
    overflow: auto;
    padding: 30px;
    position: relative;
    min-width: 350px;
    width: 18%;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {display: none}

    .view-menu-button {
      cursor: pointer;
      display: none;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);

      .icon {
        background-color: #ffffff;
        height: 30px;
        width: 30px;
      }
    }

    .logo-image {
      display: block;
      padding: 0 10px;

      img {
        object-fit: contain;
        max-width: 100%;
      }
    }

    .account-type-wrap {
      background: linear-gradient(135deg, #005aff 0%, #5691ff 100%);
      border-radius: 15px;
      padding: 30px;

      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 15px;
        text-align: center;
      }

      a {
        background-color: #ffffff;
        border-radius: 30px;
        color: #005aff;
        display: block;
        font-size: 16px;
        line-height: 24px;
        height: 43px;
        margin: 0 auto;
        padding: 10px 3px 10px 10px;
        text-align: center;
        text-decoration: none;
        width: 175px;
      }
    }
  }

  main {
    padding: 40px 75px 40px 45px;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .site-content-wrap main {
    padding: 40px 45px;
  }
}

@media screen and (max-width: 1200px) {
  .site-content-wrap {
    nav {
      border-radius: 0;
      height: 65px;
      overflow: inherit;
      padding: 0;
      position: absolute;
      width: 100%;

      .logo-image {
        display: inline-block;
        padding: 10px 25px;

        img {height: 45px}
      }

      .view-menu-button {display: block}

      .account-type-wrap {
        padding: 25px;

        a {
          font-size: 14px;
          line-height: 18px;
          height: 38px;
        }
      }
    }

    main {
      padding: 105px 40px 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .site-content-wrap nav {
    min-width: auto;

    .logo-image {max-width: 240px; padding: 10px}
  }
}