@import "vars";

.characteristics-table {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;

  th, td {padding: 15px}

  thead {
    background-color: $text;
    color: $separator;

    tr {border: 1px solid $separator}

    th {
      text-align: center;

      &:first-child {min-width: 320px; width: 30%}
    }
  }

  td.solid-col {
    color: $separator;
    line-height: 20px;
    text-align: right;
    background-color: $text;
    border: 1px solid $separator;
  }

  td.list-col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    label {
      border: 1px solid $text;
      border-radius: 6px;
      min-width: 110px;
      padding: 6px 12px;

      > span {text-transform: capitalize; user-select: none}
    }
  }
}

@media screen and (max-width: 720px) {
  .characteristics-table {
    th, td {padding: 10px}

    thead th:first-child {
      min-width: auto;
      max-width: 250px;
      width: auto;
    }

    td.solid-col {font-size: 14px}
  }
}

@media screen and (max-width: 480px) {
  .characteristics-table {

    td, th, td.solid-col, td.list-col label > span {font-size: 12px}

    td.solid-col > span {display: none}
  }
}