@import "icons-editor", "color-picker";

.email-editor-wrap {
  background-color: #f4f6fb;
  border-radius: 20px;
  padding: 35px;

  table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    tr:not(.add-row-wrap) {
      .table-element-wrap {
        border: 1px solid #cbd6e5;
        border-radius: 6px;
        overflow: hidden;
        margin-top: -1px;
        padding: 11px;
        position: relative;
        z-index: 1;
      }

      .table-element-controls {
        border-bottom-left-radius: 6px;
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #005aff;

        .table-element-controls-edit, .table-element-controls-remove {
          cursor: pointer;
          padding: 2px 4px;

          &:hover .icon {
            background-color: #00145e;
          }
        }

        .icon {background-color: white}
      }

      &:hover {
        .table-element-wrap {border: 1px solid #005aff; z-index: 2}

        .table-element-controls {
          display: flex;
        }
      }
    }

    tr.add-row-wrap td {text-align: center}

    .btn {display: inline-block}

    .add-row-btn {
      border: 2px solid #909bbf;
      cursor: pointer;
      padding: 5px;
      margin-top: 15px;

      .icon {
        background-color: #909bbf;
        height: 40px;
        width: 40px;
      }

      &:hover {
        border-color: #005aff;

        .icon {background-color: #005aff}
      }
    }
  }
}

.default-popup-wrap .email-body-elements-wrap {
  .button-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  ul.text-elements-list {
    margin: 10px 0;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 5px;
      min-height: 26px;
      min-width: 50px;
      margin: 2px;
      background-color: #f4f6fb;
      opacity: .6;

      &[data-tag="br"] {display: block}

      &:hover, &.active {
        opacity: 1;
      }
    }
  }

  .text-elements-controls {
    display: flex;
    align-items: stretch;

    .button-row .btn {
      min-height: 44px;
      min-width: 44px;
      height: 44px;
      width: 44px;
      padding: 0;

      .icon {background-color: #909bbf}

      &.active {
        background-color: #005aff;

        .icon {background-color: white}
      }
    }
  }

  .hu-color-picker .color-type, .hu-color-picker .color-type + div {
    display: none;
  }
}