@import "icons-editor", "color-picker";

.email-editor-wrap {
  background-color: #f4f6fb;
  border-radius: 20px;
  padding: 35px;

  table {
    position: relative;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    tr:not(.add-row-wrap) {
      .table-element-wrap {
        border: 1px solid #f4f6fb;
        border-radius: 6px;
        overflow: hidden;
        margin-top: -1px;
        padding: 11px;
        position: relative;
        z-index: 1;
      }

      .table-element-controls {
        border-bottom-left-radius: 6px;
        display: none;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #005aff;

        .table-element-controls-edit, .table-element-controls-remove {
          cursor: pointer;
          padding: 2px 4px;

          &:hover .icon {
            background-color: #00145e;
          }
        }

        .icon {background-color: white}
      }

      &:hover {
        .table-element-wrap {border: 1px solid #005aff; z-index: 2}

        .table-element-controls {
          display: flex;
        }
      }
    }

    tr.add-row-wrap td {text-align: center}

    .btn {display: inline-block}

    .add-row-btn {
      border: 2px solid #909bbf;
      cursor: pointer;
      padding: 5px;
      margin-top: 15px;

      .icon {
        background-color: #909bbf;
        height: 40px;
        width: 40px;
      }

      &:hover {
        border-color: #005aff;

        .icon {background-color: #005aff}
      }
    }
  }
}

.sidebar-wrap .email-row-edit-wrap {
  width: 100%;

  .text-elements-list {
    padding: 20px;

    li {
      background-color: #f4f6fb;
      color: #00145e;
      cursor: pointer;
      min-height: 24px;
      line-height: 24px;
      margin: 10px 0;
      width: 100%;

      &:hover, &.active {
        background-color: white;
      }
    }
  }

  .email-row-elements-controls {
    padding: 0 0 20px 20px;

    .form-text {
      font-size: 12px;
      line-height: 12px;
      padding: 15px;
    }

    .buttons-row {
      margin: 20px 0;
      padding-right: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: space-between;
    }

    .editor-button {
      background-color: #f2f7ff;
      border-color: #909bbf;
      border-radius: 50%;
      height: 44px;
      min-width: auto;
      width: 44px;
      padding: 10px;

      .icon {background-color: #909bbf}

      &.active {
        background-color: #005aff;
        border-color: #005aff;

        .icon {background-color: white}
      }
    }
  }
}