@import "vars";

.dropdown-list-wrap {
  margin: 40px 0;
  width: 75%;

  label.caption > span {
    color: $text;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }

  .btn {min-width: 150px; height: 44px}

  > li {
    margin-bottom: 10px;
    width: 100%;

    .wide-wrap {margin: 10px 0 25px 0}

    .options-list {
      margin-top: 5px;
      position: relative;

      li {
        margin-bottom: 20px;
        position: relative;

        .slider-checkbox-text {font-weight: 400}

        .icon {background-color: $secondary}

        .sort-handle, .option-item-controls {position: absolute; bottom: 6px}

        .sort-handle {
          cursor: grab;
          left: -30px;
          padding: 5px 10px;

          &:active {cursor: grabbing}
        }

        .option-item-controls {
          display: flex;
          align-items: center;
          right: 25px;

          a {padding: 5px 2px;}
        }
      }
    }

    .list-element-title {
      background-color: $bg;
      cursor: pointer;
      padding: 15px 25px;
      position: relative;

      span {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
      }

      .list-show {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }

      .icon {
        background-color: $text;
        height: 20px;
        width: 20px;
        transform: rotate(90deg);
      }
    }

    .list-element-content-wrap {
      display: none;

      label.caption {
        padding-right: 15px;

        .title {
          color: $text;
          line-height: 30px;
          font-size: 16px;
          font-weight: 500;
        }

        .about {
          color: $secondary;
          line-height: 24px;
          font-size: 14px;
          font-weight: 400;
        }

        .circle-progress-wrap {
          bottom: 5px;
          right: 40px;
          height: 24px;
          width: 24px;

          .inner-circle {
            height: 20px;
            width: 20px;
          }
        }
      }

      .form-input, .form-select {margin-top: 5px; width: 100%}

      .form-input.has-controls {padding-right: 45px}

      .text-bar-wrap {
        background-color: $bg;
        border: $b-type;
        border-radius: $b-rad-default;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding: 15px;
        overflow: hidden;
      }
    }

    &.active {
      .list-element-title .icon {transform: rotate(-90deg)}

      .list-element-content-wrap {display: block}
    }
  }
}

.content-table-wrap .user-info-wrap {
  border-bottom: none;
  display: flex;
  align-items: center;

  .user-credentials {position: relative; align-items: flex-start}
}

@media screen and (max-width: 1024px) {
  .dropdown-list-wrap {width: 100%}
}

@media screen and (max-width: 720px) {
  .row {display: block}
}
