/.phpunit.cache
/docker
/node_modules
/public/build
/public/hot
/public/images/
!/public/images/logo-dashboard.png
!/public/images/logo-dashboard-mobile.png
!/public/images/logo-dashboard-white.png
!/resources/assets/images/upload.png
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
