* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;;
  line-height: 1em;
}
/* HA HA HA. No. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {display: block}

body {background-color: #ffffff}

ol, ul {list-style: none;}

blockquote, q {
  quotes: none;

  &:before, &:after {content: ""}
}

table {border-collapse: collapse; border-spacing: 0}

sup, sub {vertical-align: baseline; position: relative; font-size: 0.825em}

sup {top: -0.4em}

sub {bottom: -0.4em}

b {font-weight: 600}

strong {font-weight: 700}

em, i {font-style: italic}

ins, u {text-decoration: underline}

del, s {text-decoration: line-through}

h1, h2, h3, h4, h5, h6 {font-weight: normal}